form {
  width: 700px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

label {
  display: inline-block;
  width: 350px;
  text-align: right;
}

div {
  margin-top: 1em;
}

input,
select {
  width: 320px;
  box-sizing: border-box;
}
.div1 {
  display: inline-block;
  margin-top: 0;
}

#coordX,
#coordY {
  width: 120px;
}

.map {
  width: 70px;
}

#btn-submit {
  margin-left: 355px;
}
